/* div {
    border: 5px solid green;
} */
.navbar {
    margin-bottom: 80px;
}
.container{
    margin-bottom: 100px;
}
.upper-section {
    background-color: #F0FFF0;
    padding-bottom: 50px;
}
.intro-talk {
    font-size: 3em;
    font-weight: bolder;
}
.intro-photo {
    width: 100%;
}
.highlight {
    color: #21B573;
}
.sign-in-button {
    background-color: #21B573;
    border-radius: 40px;
    width: 7em;
    text-align: center;
    cursor: pointer;
}
.my-card {
    border: none;
    border-radius: 10px;
    height: 450px;
    background-color: #F8FFFB;
}
.my-card:hover {
    box-shadow: 2px 0px 8px grey;
    background-color: white;
}
.my-card img {
    /* border: 5px solid green; */
    padding: 20%;
}
.my-card h4, .my-card p {
    text-align: center;
}
.online-courses {
    font-size: 2em;
    font-weight: bolder;
    color: darkblue;
    text-align: center;
    margin-bottom: 50px;
}
.oc-card {
    border-radius: 20px;
    border:none;
    box-shadow: 1px 0px 50px lightgray;
}
.oc-card img {
    padding: 5%;
}
.card-footer {
    /* padding-bottom: 20px; */
    border: none;
    background-color: white;
    border-radius: 20px !important;
}
.oc-col {
    width: 350px;
}
.man {
    width: 50%;
}
.man-talk {
    padding-left: 5%;
    margin-top: 2%;
}
.bottom-section {
    background-color: #282531;
    padding: 20px 20px;
    margin-bottom: 0;
}
.bottom-section ul {
    list-style: none;
    padding: 0;
}
.bottom-section li:hover {
    text-decoration: underline;
    cursor: pointer;
    color: gold;
}
.last-talk {
    text-decoration: 3px underline solid blue;
    text-underline-position: under;
    /* border-bottom: 2px solid blue; */
}